// banner-bottom
.banner-bottom
      .container
        .w3_agile_banner_bottom_grid
          #owl-demo.owl-carousel.owl-theme
            .item
              .w3l-movie-gride-agile.w3l-movie-gride-agile1
                a.hvr-shutter-out-horizontal(href='single.html')
                  img.img-responsive(src='images/m13.jpg', title='album-name', alt=' ')
                  .w3l-action-icon
                    i.fa.fa-play-circle(aria-hidden='true')
                .mid-1.agileits_w3layouts_mid_1_home
                  .w3l-movie-text
                    h6
                      a(href='single.html') Citizen Soldier
                  .mid-2.agile_mid_2_home
                    p 2016
                    .block-stars
                      ul.w3l-ratings
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star-half-o(aria-hidden='true')
                    .clearfix
                .ribben
                  p NEW
            .item
              .w3l-movie-gride-agile.w3l-movie-gride-agile1
                a.hvr-shutter-out-horizontal(href='single.html')
                  img.img-responsive(src='images/m11.jpg', title='album-name', alt=' ')
                  .w3l-action-icon
                    i.fa.fa-play-circle(aria-hidden='true')
                .mid-1.agileits_w3layouts_mid_1_home
                  .w3l-movie-text
                    h6
                      a(href='single.html') X-Men
                  .mid-2.agile_mid_2_home
                    p 2016
                    .block-stars
                      ul.w3l-ratings
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star-half-o(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star-o(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star-o(aria-hidden='true')
                    .clearfix
                .ribben
                  p NEW
            .item
              .w3l-movie-gride-agile.w3l-movie-gride-agile1
                a.hvr-shutter-out-horizontal(href='single.html')
                  img.img-responsive(src='images/m12.jpg', title='album-name', alt=' ')
                  .w3l-action-icon
                    i.fa.fa-play-circle(aria-hidden='true')
                .mid-1.agileits_w3layouts_mid_1_home
                  .w3l-movie-text
                    h6
                      a(href='single.html') Greater
                  .mid-2.agile_mid_2_home
                    p 2016
                    .block-stars
                      ul.w3l-ratings
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star-half-o(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star-o(aria-hidden='true')
                    .clearfix
                .ribben
                  p NEW
            .item
              .w3l-movie-gride-agile.w3l-movie-gride-agile1
                a.hvr-shutter-out-horizontal(href='single.html')
                  img.img-responsive(src='images/m7.jpg', title='album-name', alt=' ')
                  .w3l-action-icon
                    i.fa.fa-play-circle(aria-hidden='true')
                .mid-1.agileits_w3layouts_mid_1_home
                  .w3l-movie-text
                    h6
                      a(href='single.html') Light B/t Oceans
                  .mid-2.agile_mid_2_home
                    p 2016
                    .block-stars
                      ul.w3l-ratings
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star-o(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star-o(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star-o(aria-hidden='true')
                    .clearfix
                .ribben
                  p NEW
            .item
              .w3l-movie-gride-agile.w3l-movie-gride-agile1
                a.hvr-shutter-out-horizontal(href='single.html')
                  img.img-responsive(src='images/m8.jpg', title='album-name', alt=' ')
                  .w3l-action-icon
                    i.fa.fa-play-circle(aria-hidden='true')
                .mid-1.agileits_w3layouts_mid_1_home
                  .w3l-movie-text
                    h6
                      a(href='single.html') The BFG
                  .mid-2.agile_mid_2_home
                    p 2016
                    .block-stars
                      ul.w3l-ratings
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star-half-o(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star-o(aria-hidden='true')
                    .clearfix
                .ribben
                  p NEW
            .item
              .w3l-movie-gride-agile.w3l-movie-gride-agile1
                a.hvr-shutter-out-horizontal(href='single.html')
                  img.img-responsive(src='images/m9.jpg', title='album-name', alt=' ')
                  .w3l-action-icon
                    i.fa.fa-play-circle(aria-hidden='true')
                .mid-1.agileits_w3layouts_mid_1_home
                  .w3l-movie-text
                    h6
                      a(href='single.html') Central Intelligence
                  .mid-2.agile_mid_2_home
                    p 2016
                    .block-stars
                      ul.w3l-ratings
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star-half-o(aria-hidden='true')
                    .clearfix
                .ribben
                  p NEW
            .item
              .w3l-movie-gride-agile.w3l-movie-gride-agile1
                a.hvr-shutter-out-horizontal(href='single.html')
                  img.img-responsive(src='images/m10.jpg', title='album-name', alt=' ')
                  .w3l-action-icon
                    i.fa.fa-play-circle(aria-hidden='true')
                .mid-1.agileits_w3layouts_mid_1_home
                  .w3l-movie-text
                    h6
                      a(href='single.html') Don't Think Twice
                  .mid-2.agile_mid_2_home
                    p 2016
                    .block-stars
                      ul.w3l-ratings
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star-half-o(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star-o(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star-o(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star-o(aria-hidden='true')
                    .clearfix
                .ribben
                  p NEW
            .item
              .w3l-movie-gride-agile.w3l-movie-gride-agile1
                a.hvr-shutter-out-horizontal(href='single.html')
                  img.img-responsive(src='images/m17.jpg', title='album-name', alt=' ')
                  .w3l-action-icon
                    i.fa.fa-play-circle(aria-hidden='true')
                .mid-1.agileits_w3layouts_mid_1_home
                  .w3l-movie-text
                    h6
                      a(href='single.html') Peter
                  .mid-2.agile_mid_2_home
                    p 2016
                    .block-stars
                      ul.w3l-ratings
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star-half-o(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star-o(aria-hidden='true')
                    .clearfix
                .ribben
                  p NEW
            .item
              .w3l-movie-gride-agile.w3l-movie-gride-agile1
                a.hvr-shutter-out-horizontal(href='single.html')
                  img.img-responsive(src='images/m15.jpg', title='album-name', alt=' ')
                  .w3l-action-icon
                    i.fa.fa-play-circle(aria-hidden='true')
                .mid-1.agileits_w3layouts_mid_1_home
                  .w3l-movie-text
                    h6
                      a(href='single.html') God’s Compass
                  .mid-2.agile_mid_2_home
                    p 2016
                    .block-stars
                      ul.w3l-ratings
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star(aria-hidden='true')
                        li
                          a(href='#')
                            i.fa.fa-star-o(aria-hidden='true')
                    .clearfix
                .ribben
                  p NEW    
// //banner-bottom