.general_social_icons
    nav.social
        ul
            li.w3_twitter
                a(href='#')
                    | Twitter 
                    i.fa.fa-twitter
            li.w3_facebook
                a(href='#')
                    | Facebook 
                    i.fa.fa-facebook
            li.w3_dribbble
                a(href='#')
                    | Dribbble 
                    i.fa.fa-dribbble
            li.w3_g_plus
                a(href='#')
                    | Google+ 
                    i.fa.fa-google-plus