doctype html
//
  author: W3layouts
  author URL: http://w3layouts.com
  License: Creative Commons Attribution 3.0 Unported
  License URL: http://creativecommons.org/licenses/by/3.0/
html(lang='en')
  head
    title
      | One Movies an Entertainment Category Flat Bootstrap Responsive Website Template | Home :: w3layouts
    // for-mobile-apps
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='keywords', content='One Movies Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, \
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design')
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      function hideURLbar(){ window.scrollTo(0,1); }
    // //for-mobile-apps
    link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
    link(href='css/style.css', rel='stylesheet', type='text/css', media='all')
    link(rel='stylesheet', href='css/contactstyle.css', type='text/css', media='all')
    link(rel='stylesheet', href='css/faqstyle.css', type='text/css', media='all')
    link(href='css/single.css', rel='stylesheet', type='text/css')
    link(href='css/medile.css', rel='stylesheet', type='text/css')
    // banner-slider
    link(href='css/jquery.slidey.min.css', rel='stylesheet')
    // //banner-slider
    // pop-up
    link(href='css/popuo-box.css', rel='stylesheet', type='text/css', media='all')
    // //pop-up
    // font-awesome icons
    link(rel='stylesheet', href='css/font-awesome.min.css')
    // //font-awesome icons
    // js
    script(type='text/javascript', src='js/jquery-2.1.4.min.js')
    // //js
    // banner-bottom-plugin
    link(href='css/owl.carousel.css', rel='stylesheet', type='text/css', media='all')
    script(src='js/owl.carousel.js')
    script.
      $(document).ready(function() {
      $("#owl-demo").owlCarousel({
      autoPlay: 3000, //Set AutoPlay to 3 seconds
      items : 5,
      itemsDesktop : [640,4],
      itemsDesktopSmall : [414,3]
      });
      });
    // //banner-bottom-plugin
    link(href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300', rel='stylesheet', type='text/css')
    // start-smoth-scrolling
    script(type='text/javascript', src='js/move-top.js')
    script(type='text/javascript', src='js/easing.js')
    script(type='text/javascript').
      jQuery(document).ready(function($) {
      $(".scroll").click(function(event){
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
      });
      });
    // start-smoth-scrolling
  body
    // header
    .header
      .container
        .w3layouts_logo
          a(href='index.html')
            h1
              | One
              span Movies
        .w3_search
          form(action='#', method='post')
            input(type='text', name='Search', placeholder='Search', required='')
            input(type='submit', value='Go')
        .w3l_sign_in_register
          ul
            li
              i.fa.fa-phone(aria-hidden='true')
              |  (+000) 123 345 653
            li
              a(href='#', data-toggle='modal', data-target='#myModal') Login
        .clearfix  
    // //header
    // bootstrap-pop-up
    #myModal.modal.video-modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModal')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            | Sign In & Sign Up
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          section
            .modal-body
              .w3_login_module
                .module.form-module
                  .toggle
                    i.fa.fa-times.fa-pencil
                    .tooltip Click Me
                  .form
                    h3 Login to your account
                    form(action='#', method='post')
                      input(type='text', name='Username', placeholder='Username', required='')
                      input(type='password', name='Password', placeholder='Password', required='')
                      input(type='submit', value='Login')
                  .form
                    h3 Create an account
                    form(action='#', method='post')
                      input(type='text', name='Username', placeholder='Username', required='')
                      input(type='password', name='Password', placeholder='Password', required='')
                      input(type='email', name='Email', placeholder='Email Address', required='')
                      input(type='text', name='Phone', placeholder='Phone Number', required='')
                      input(type='submit', value='Register')
                  .cta
                    a(href='#') Forgot your password?
    script.
      $('.toggle').click(function(){
      // Switches the Icon
      $(this).children('i').toggleClass('fa-pencil');
      // Switches the forms
      $('.form').animate({
      height: "toggle",
      'padding-top': 'toggle',
      'padding-bottom': 'toggle',
      opacity: "toggle"
      }, "slow");
      });
    // //bootstrap-pop-up
    // nav
    .movies_nav
      .container
        nav.navbar.navbar-default
          .navbar-header.navbar-left
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          // Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse.navbar-right
            nav
              ul.nav.navbar-nav
                li.active
                  a(href='index.html') Home
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Genres 
                    b.caret
                  ul.dropdown-menu.multi-column.columns-3
                    li
                      .col-sm-4
                        ul.multi-column-dropdown
                          li
                            a(href='/genres') Action
                          li
                            a(href='/genres') Biography
                          li
                            a(href='/genres') Crime
                          li
                            a(href='/genres') Family
                          li
                            a(href='/genres') Horror
                          li
                            a(href='/genres') Romance
                          li
                            a(href='/genres') Sports
                          li
                            a(href='/genres') War
                      .col-sm-4
                        ul.multi-column-dropdown
                          li
                            a(href='/genres') Adventure
                          li
                            a(href='/genres') Comedy
                          li
                            a(href='/genres') Documentary
                          li
                            a(href='/genres') Fantasy
                          li
                            a(href='/genres') Thriller
                      .col-sm-4
                        ul.multi-column-dropdown
                          li
                            a(href='/genres') Animation
                          li
                            a(href='/genres') Costume
                          li
                            a(href='/genres') Drama
                          li
                            a(href='/genres') History
                          li
                            a(href='/genres') Musical
                          li
                            a(href='/genres') Psychological
                      .clearfix
                li
                  a(href='series.html') tv - series
                li
                  a(href='news.html') news
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Country 
                    b.caret
                  ul.dropdown-menu.multi-column.columns-3
                    li
                      .col-sm-4
                        ul.multi-column-dropdown
                          li
                            a(href='/genres') Asia
                          li
                            a(href='/genres') France
                          li
                            a(href='/genres') Taiwan
                          li
                            a(href='/genres') United States
                      .col-sm-4
                        ul.multi-column-dropdown
                          li
                            a(href='/genres') China
                          li
                            a(href='/genres') HongCong
                          li
                            a(href='/genres') Japan
                          li
                            a(href='/genres') Thailand
                      .col-sm-4
                        ul.multi-column-dropdown
                          li
                            a(href='/genres') Euro
                          li
                            a(href='/genres') India
                          li
                            a(href='/genres') Korea
                          li
                            a(href='/genres') United Kingdom
                      .clearfix
                li
                  a(href='short-codes.html') Short Codes
                li
                  a(href='list.html') A - z list
    // //nav
    block content  
  .footer
          .container
            .w3ls_footer_grid
              .col-md-6.w3ls_footer_grid_left
                .w3ls_footer_grid_left1
                  h2 Subscribe to us
                  .w3ls_footer_grid_left1_pos
                    form(action='#', method='post')
                      input(type='email', name='email', placeholder='Your email...', required='')
                      input(type='submit', value='Send')
              .col-md-6.w3ls_footer_grid_right
                a(href='index.html')
                  h2
                    | One
                    span Movies
              .clearfix  
            .col-md-5.w3ls_footer_grid1_left
              p
                | © 2016 One Movies. All rights reserved | Design by 
                a(href='http://w3layouts.com/') W3layouts
            .col-md-7.w3ls_footer_grid1_right
              ul
                li
                  a(href='genres.html') Movies
                li
                  a(href='faq.html') FAQ
                li
                  a(href='horror.html') Action
                li
                  a(href='genres.html') Adventure
                li
                  a(href='comedy.html') Comedy
                li
                  a(href='icons.html') Icons
                li
                  a(href='contact.html') Contact Us
            .clearfix        
  // //footer